// Body
$body-bg: #fff;

// Typography
$font-family-sans-serif: sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #39d;
$indigo: #67c;
$purple: #96e;
$pink: #f69;
$red: #e32;
$orange: #f93;
$yellow: #fe4;
$green: #3c7;
$teal: #4cb;
$cyan: #6be;
