{% extends 'base.html.twig' %}

{% block title %}Edit Component{% endblock %}

{% block body %}
    <h1>Edit Component</h1>

    {{ include('component/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('component_index') }}">back to list</a>

    {{ include('component/_delete_form.html.twig') }}
{% endblock %}
