{% extends 'base.html.twig' %}

{% block title %}New Component{% endblock %}

{% block body %}
    <h1>Create new Component</h1>

    {{ include('component/_form.html.twig') }}

    <a href="{{ path('component_index') }}">back to list</a>
{% endblock %}
