@charset "UTF-8";

@import url('./views/main-view.css');
@import url('./views/search-view.css');
@import url('./views/help-view.css');
@import url('./views/about-view.css');
@import url('./views/card-list-view.css');

@import url('./views/forms/address-form-view.css');
@import url('./views/forms/carrier-form-view.css');
@import url('./views/forms/component-form-view.css');
@import url('./views/forms/contact-form-view.css');
@import url('./views/forms/crew-form-view.css');
@import url('./views/forms/customer-form-view.css');
@import url('./views/forms/invoice-form-view.css');
@import url('./views/forms/machine-form-view.css');
@import url('./views/forms/operator-form-view.css');
@import url('./views/forms/position-form-view.css');
@import url('./views/forms/product-form-view.css');
@import url('./views/forms/supplier-form-view.css');

@import url('lumo-css-framework/all-classes.css');

html {
      --lumo-font-size: 1rem;
      --lumo-font-size-xxxl: 3rem;
      --lumo-font-size-xxl: 2.25rem;
      --lumo-font-size-xl: 1.75rem;
      --lumo-font-size-l: 1.375rem;
      --lumo-font-size-m: 1.125rem;
      --lumo-font-size-s: 1rem;
      --lumo-font-size-xs: 0.875rem;
      --lumo-font-size-xxs: 0.8125rem;
      --lumo-line-height-m: 1.8;
      --lumo-line-height-s: 1.5;
      --lumo-line-height-xs: 1.3;
      --lumo-border-radius: calc(var(--lumo-size-m) / 3);
      --lumo-size-xl: 4rem;
      --lumo-size-l: 3rem;
      --lumo-size-m: 2.5rem;
      --lumo-size-s: 2rem;
      --lumo-size-xs: 1.75rem;
      --lumo-space-xl: 2.5rem;
      --lumo-space-l: 1.75rem;
      --lumo-space-m: 1.125rem;
      --lumo-space-s: 0.75rem;
      --lumo-space-xs: 0.375rem;
}
