@charset "UTF-8";

.topmenu-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.topmenu-header header {
  align-items: center;
  display: flex;
  height: var(--lumo-size-xl);
}
.topmenu-header header h1 {
  font-size: var(--lumo-font-size-l);
  margin: 0;
}
.topmenu-header header img#logo {
  height: var(--lumo-size-l);
  margin: 0 var(--lumo-space-s);
}
.topmenu-header vaadin-tabs {
  align-self: center;
}
